body {
    background: url('img/background.png') fixed;
}

#blog {
    background-color: aliceblue;
}

.col-4 {
    background-color: royalblue;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}


#blog-block {
    background-color: white;
}